@font-face {
  font-family: CircularSp, spotify-circular, Helvetica, Arial, sans-serif;
  src: url("../circular-spotify-text-font/CircularSpotifyText-Black.otf") format('opentype');
}


#mh_header {
  box-sizing: border-box;
  margin: 0;
}

#mh_header {
  background-color: black;
  height: 80px;
  width: 100%;
  justify-content: center;
}

#mh_header_wrap {
  box-sizing: border-box;
  width: 1140px;
  height: 100%;
  margin: auto;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
}

#mh_header_logo {
  box-sizing: border-box;
  width: 132px;
  height: 100%;
  padding-top: 20px;
}

#mh_header_logo img {
  width: 132px;
}


#mh_header_menuwarp {
  box-sizing: content-box;
  width: 478px;
  height: 100%;
}

#mh_header_menu {
  list-style-type: none;
  width: 478px;
  height: 100%;
  display: inline;
  display: flex;
  font-family: CircularSp, spotify-circular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  animation: slide-right 0.6s;
}

@keyframes slide-right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
  }

}

#mh_header_menu>li {
  text-align: center;
  color: white;
  line-height: 80px;
}

#mh_header_menu a {
  color: white;
  text-decoration: none;
}

#mh_header_menu a:hover {
  color: #1ed760;
}

#seperator {
  font-size: 17px;
  font-weight: 100;
  cursor: default;
}